<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>


</head>
<body>

<!-- 手动面包屑 -->
<div class="crumbs" data-enable="false">
    <a class="level1" href="">首页</a>
    <sapn class="gt">/</sapn>
    <sapn class="level2" >手动加载示例</sapn>
</div>
<h1>manual page</h1>

</body>

<script  src="../../js/jquery-1.10.1.min.js"></script>
<script  src="../../js/sitemap.js"></script>
<script  src="../../js/crumbs.js"></script>

<script>

    $(function(){
        //面包屑
        //注意，最好给crumbs加个前缀，如$(".content .crumbs")
        //手动方式其实不需要调用crumbs，但是往往crumbs是放在全局函数中，这里只是模拟执行crumbs()
        $(".crumbs").crumbs();
    })


</script>

</html>